@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display&family=Ubuntu:wght@300&display=swap');

.content{
	text-align: left;
	}



.apresentacao a:link {
	color: #040829;
   text-decoration: underline;
	}

.apresentacao a:visited {
	color: #040829;
   text-decoration: underline;
	}

.apresentacao a:hover {
	color: blue;
  	text-decoration: none;
	}

.apresentacao a:active {
	color: #040829;
   text-decoration: underline;
	}

.apresentacao p {
	color:  #040829;
	font-family: 'Playfair Display', serif;
	font-size: 19px;
	font-weight: 100;
	padding: 20px;
	text-align: justify-all;
	}

.content {
	padding: 30px;
	background-color:  rgba(230, 230, 230,0.2);
	}

.apresentacao h1 {
	color:  tomato;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 42px;
	padding: 10px;
}	

.apresentacao h2 {
	color:  dodgerblue;
	font-family: 'Playfair Display', serif;
	font-weight: 400 ;
	font-size: 38px;
	padding: 10px;
	}



.botao {
	padding: 25px;
	margin: 30px;
	background-color: dodgerblue;
	width: 200px;
	height: 30px;
	font-family: 'Bebas Neue', cursive;
	font-size: 24px;
	letter-spacing: 2.5px;
	align-items: center;
	justify-content: center;
	}


.botao a:link {
	color: whitesmoke;
   text-decoration: none;
	}

.botao a:visited {
	color: whitesmoke;
   text-decoration: none;
	}

.botao a:hover {
	color: yellow;
  	text-decoration: underline;
	}

.botao a:active {
	color: whitesmoke;
   text-decoration: none;
	}


.demo > h2 {
	color:  darkblue;
	font-family: 'Playfair Display', serif;
	font-weight: 400 ;
	font-size: 38px;
	padding: 10px;

}

iframe {
	width: 200px; 
	height: 300px;
	border:1px solid red;
	margin: 30px;
	padding: 30px;
	font-size: 20px;
}